<!DOCTYPE html>
<html>
  <head>
    <title>Ideator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- favicon -->
    <%= favicon_link_tag %>
    
    <!--  Mobile Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

  <body>

    <div id="wrap">
      <%= render 'shared/nav' %>

      <hr style="
    margin-left: 1%;
    margin-right: 1%;
"><!-- for horizontal line after nav bar -->

      <div class = "container">
        <div class = "row">
          <div class = "col-xs-12 col-md-6 col-md-offset-3">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div>        
      </div>

    </div><!-- wrap -->

    <%= render 'shared/footer' %>

  </body>
</html>
