<!DOCTYPE html>
<html>
  <head>
    <title>Ideator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Ideator", root_path %>
  	<%= link_to "All Ideas", welcome_ideas_path %>
  	<%= link_to "Inspire Me", welcome_inspire_path %>
  	<%= link_to "About", welcome_about_path %>
    <%= yield %>
  </body>
</html>
